<% layout('./layouts/boilerplate')%>
<link rel="stylesheet" href="/static/stylesheets/show.css" />

<div
  class="section-container d-flex flex-column justify-content-center align-items-center"
>
  <div class="section mb-3">
    <div class="red text center mb-2">Contact List</div>
    <form
      action="/contacts/search"
      method="POST"
      class="form-inline center input-group mb-3"
    >
      <input
        class="form-control ml-2 text input"
        type="search"
        placeholder="Search Name"
        aria-label="Search"
        id="name"
        name="name"
      />
      <div class="input-group-append mr-2">
        <button class="btn btn-search" type="submit">
          <img src="/static/assets/icon/search.svg" />
        </button>
      </div>
    </form>
  </div>
  <div class="line mb-4"></div>
  <div class="section2 w-100">
    <div class="row justify-content-between">
      <% if(items && items._size != 0) {%> <% if(searchName && searchName.trim()
      != "") {%>
      <div class="result-info mb-4">
        Results for <i><%=searchName%></i>. See
        <a href="/contacts" class="orange">All</a>.
      </div>
      <% }%> <%- include('./card', {items: items, userId: userId}) %> <% }else
      {%>
      <div class="result-info mb-4">
        No Matching Results Found. See
        <a href="/contacts" class="orange">All</a>.
      </div>
      <% } %>
    </div>
  </div>
</div>
