.modal-content {
  border-radius: 1em;
}

.modal-header {
  border-radius: 1em 1em 0 0;
  background: linear-gradient(91.04deg, #b31b1b 10.76%, #e7751d 77.68%);
}

.modal-header .close {
  margin: -1rem -1rem -1rem 0;
}

label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  opacity: 0.4;
}

.btn-modal {
  width: 70%;
  height: 50px;
  background: linear-gradient(269.25deg, #e7751d 7.81%, #b31b1b 84.68%);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
}
.btn-modal:hover {
  background: linear-gradient(269.25deg, #f47a11 7.81%, #b3261b 43.45%);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
}
