.section-container {
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(232, 232, 232, 0) 7%,
    rgba(231, 162, 108, 0.609375) 29.45%,
    #b31b1b 57.15%
  );
  padding-bottom: 20px;
}

.modal-content {
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
  width: 50vw;
  height: fit-content;
  max-width: 650px;
  border: none;
}

.close {
  display: none;
}

label {
  text-align: center;
  width: 100%;
}

.content {
  color: black;
  text-align: center;
}

.red {
  color: #b31b1b;
}

/* Mobile Device */
@media (max-width: 768px) {
  .modal-content {
    margin-top: 3vh;
    width: 90vw;
  }
}
