<% layout('./layouts/boilerplate')%>

<link rel="stylesheet" href="/static/stylesheets/dashboard.css" />

<div
  class="section-container d-flex flex-column justify-content-center align-items-center"
>
  <div class="section-1 center flex-column"></div>
  <div class="section-2 center flex-column">
    <a
      href="/dashboard"
      class="btn btn-lg btn-primary center text mb-4"
      role="button"
      ><img src="/static/assets/icon/people.svg" />Manage Referral Details</a
    >

    <a href="/dashboard" class="btn btn-lg center text mb-4" role="button"
      ><img src="/static/assets/icon/list.svg" />Patient List</a
    >
    <div class="line mb-4"></div>
    <div class="btn-group d-flex">
      <a
        href="/dashboard"
        class="btn btn-row btn-lg center text mr-4"
        role="button"
        data-toggle="modal"
        data-target="#exampleModal"
        data-whatever="@mdo"
        ><img src="/static/assets/icon/add-patient.svg" />Add Patient</a
      >
      <a href="/dashboard" class="btn btn-row btn-lg center text" role="button"
        ><img src="/static/assets/icon/add-referral.svg" />Add Referral</a
      >
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text mx-auto" id="exampleModalLabel">
          <img src="/static/assets/icon/add-patient.svg" />Add New Patient
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/patients" method="POST" novalidate class="validated-form">
          <div class="mb-3">
            <label for="name" class="col-form-label ">Name</label>
            <input type="text" class="form-control" id="name" required />
          </div>
          <div class="d-flex">
            <label>Gender</label>
            <div class="mb-3 d-flex mx-auto">
              <input type="radio" class="btn-check" name="gender" id="option1" autocomplete="off" checked>
              <label class="btn btn-select center mr-4" for="option1">Male</label>
  
              <input type="radio" class="btn-check" name="gender" id="option2" autocomplete="off">
              <label class="btn btn-select center" for="option2">Female</label>
            </div>
          </div>
          <div class="mb-3">
            <label for="age" class="col-form-label">Age</label>
            <input type="number" class="form-control" id="age" required></input>
          </div>
          <div class="mb-3">
            <label for="email" class="col-form-label">Email</label>
            <input type="email" class="form-control" id="email" required></input>
          </div>
          <div class="mb-3">
            <label for="number" class="col-form-label">Phone Number</label>
            <input type="text" class="form-control" id="number" required></input>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Note</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
          <button class="btn btn-modal center text">Add</button>
        </form>
      </div>
    </div>
  </div>
</div>
