<% layout('./layouts/boilerplate')%>

<link rel="stylesheet" href="/static/stylesheets/dashboard.css" />
<link rel="stylesheet" href="/static/stylesheets/modal.css" />

<div
  class="section-container d-flex flex-column justify-content-center align-items-center"
>
  <div class="section-1 center flex-column"></div>
  <div class="section-2 center flex-column">
    <a href="/dashboard" class="btn btn-lg center text mb-3" role="button"
      ><img src="/static/assets/icon/people.svg" />Manage Referral Details</a
    >
    <a href="/patients" class="btn btn-lg center text mb-3" role="button"
      ><img src="/static/assets/icon/list.svg" />Patient List</a
    >
    <a href="/contacts" class="btn btn-lg center text mb-3" role="button"
      ><img src="/static/assets/icon/list.svg" />Contact List</a
    >
    <div class="line mb-3"></div>
    <div class="btn-group d-flex mb-2">
      <a
        href="/dashboard"
        class="btn btn-row btn-lg center text mr-2"
        role="button"
        data-toggle="modal"
        data-target="#addReferral"
        data-whatever="@mdo"
        ><img src="/static/assets/icon/add-referral.svg" />Add Referral</a
      >
      <a
        href="/dashboard"
        class="btn btn-row btn-lg center text mr-2"
        role="button"
        data-toggle="modal"
        data-target="#addPatient"
        data-whatever="@mdo"
        ><img src="/static/assets/icon/add-patient.svg" />Add Patient</a
      >
      <a
        href="/dashboard"
        class="btn btn-row btn-lg center text"
        role="button"
        data-toggle="modal"
        data-target="#addContact"
        ><img src="/static/assets/icon/add-patient.svg" />Add Contact</a
      >
    </div>
  </div>
</div>

<div>
  <%- include('../pages/patients/new')%>
  <div></div>
  <%- include('../pages/contacts/new')%>
  <div></div>
  <%- include('../pages/referrals/new')%>
</div>
