<div
  class="modal fade"
  id="addContact"
  tabindex="-1"
  role="dialog"
  aria-labelledby="addContactLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text mx-auto" id="addContactLabel">
          <img src="/static/assets/icon/add-patient.svg" />Add New Contact
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/contacts" method="POST" novalidate class="validated-form">
          <div class="mb-3">
            <label for="name" class="col-form-label ">Name</label>
            <input type="text" class="form-control text" id="name" name="name" required />
          </div>
          <div class="mb-3">
            <label for="institution" class="col-form-label">Institution</label>
            <input type="text" class="form-control text" id="institution" name="institution" required></input>
          </div>
          <div class="mb-3">
            <label for="occupation" class="col-form-label">Occupation</label>
            <input type="text" class="form-control text" id="occupation" name="occupation" required></input>
          </div>
          <div class="mb-3">
            <label for="email" class="col-form-label">Email</label>
            <input type="email" class="form-control text" id="email" name="email" required></input>
          </div>
          <div class="mb-3">
            <label for="number" class="col-form-label">Phone Number</label>
            <input type="text" class="form-control text" id="number" name="number" required></input>
          </div>
          <div class="mb-3">
            <label for="note" class="col-form-label">Note</label>
            <textarea class="form-control text" id="note" name="note" required></textarea>
          </div>
          <div class="center"><button class="btn btn-modal center text">Add</button></div>
        </form>
      </div>
    </div>
  </div>
</div>
