<% layout('./layouts/boilerplate')%>
<link rel="stylesheet" href="/static/stylesheets/users.css" />

<div class="section-container d-flex flex-column justify-content-center align-items-center">
  <div class="section-1 center flex-column">
    <img class="logo-img mb-1" src="/static/assets/logo.svg">
    <div class="text intro">
      Hi Doctor... Say Hi to seamless exchange of consolidated referral
      information
    </div>
  </div>
  <div class="section-2 login-box center flex-column">
    <ul class="nav nav-pills mb-4">
      <li class="nav-item">
        <a class="nav-link active text nobg" aria-current="page" href="/sign-in">Login</a>
        <div class="underscore"></div>
      </li>
      <li class="nav-item">
        <a class="nav-link text nobg nonactive" href="/sign-up">Sign-up</a>
      </li>
    </ul>
    <form id="login-form" action="/login" method="POST" class="validated-form d-flex flex-column" novalidate>
        <div class="mb-3">
            <input class="form-control input text" type="text" id="login" name="login" placeholder="Email" autofocus required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <input class="form-control input text" type="password" id="password" name="password" placeholder="Password" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <button class="btn btn-block text">Login</button>
    </form>
  </div>
</div>

<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.6.4/firebase-auth-compat.js"></script>

<script>
  window.onload = () => {
    const firebaseConfig = {
      apiKey: "AIzaSyAhQnaze6fBd98sFu0LEoLSQsozpj226Eg",
  authDomain: "uptohealth-cornell-tech.firebaseapp.com",
  projectId: "uptohealth-cornell-tech",
  storageBucket: "uptohealth-cornell-tech.appspot.com",
  messagingSenderId: "906351631407",
  appId: "1:906351631407:web:2734f358f56598a7dfbada",
  measurementId: "G-RZFGEXRKSW"
    };

    const app = firebase.initializeApp(firebaseConfig);

    app.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

    document
      .getElementById("login-form")
      .addEventListener("submit", (event) => {
        event.preventDefault();
        const login = event.target.login.value;
        const password = event.target.password.value;

        app.auth().signInWithEmailAndPassword(login, password)
          .then((userCredential) => {
            const user = userCredential.user;
            user.getIdToken().then((idToken) => {
              fetch('/sessionLogin', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ 
                  idToken: idToken,
                  plan: 'free' 
                })}).then(() => window.location.assign('/dashboard'))  // Redirect the user to the /dashboard
            })
          })
          .catch((error) => {
            const errorCode = error.code;
            const errorMessage = error.message;
          });
        // return false;
      });
  };
</script>

</html>